.navbar {
  background-color: transparent;
  height: 60px;
}

#collasible-nav-dropdown {
  font: 600 14px/30px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
}

.navbar-link {
  color: white !important;
  margin:20px 30px;
}
.navbar-link:hover {
  text-shadow: 0 0 60px 30px #fff !important;
}
