.navbar {
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: flex-end !important;
  font-size: 20px;
  
  padding: 0px !important;
  margin:0 !important;
  align-items: center;
  padding-right: 20px !important;
}

#collasible-nav-dropdown {
  font: 600 14px/30px Montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s linear;
}

@media only screen and (max-width: 991px) {
  .navbar {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center !important;
  }
}

.navbar-link {
  color: white !important;
  /* margin: 20px 30px; */
  margin: 20px 15px;
}

.navbar-link:hover {
  text-shadow: 0px 0px 20px white, 0px 0px 20px white;
}
